<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<!--前台管理Action	-->
	
	
	
	
	
	
	
	<!--后台管理Action	-->
	<!-- 后台管理员登陆 -->
	<bean id="BackLoginAction" class="com.usc.actions.back.loginAction" scope="prototype">
		<property name="manger" ref="MangerImpl"></property>
	</bean>
	<!-- 后台退出 -->
	<bean id="BackExitAction" class="com.usc.actions.back.BackExitAction" scope="prototype">
	</bean>
	<!-- 后台修改密码 -->
	<bean id="UpdatePassAction" class="com.usc.actions.back.UpdatePassAction" scope="prototype">
		<property name="manger" ref="MangerImpl"></property>
	</bean>
	
</beans>